<footer>
    <div class="content-padding">
        <div class="footer-content">
            <div class="social-media-icons">
                <a href="#" ><i class="fa fa-github fa-3x"></i> </a>
                <a href="#" ><i class="fa fa-facebook-official fa-3x"></i> </a>
                <a href="#" ><i class="fa fa-twitter fa-3x"></i> </a>
            </div>
            <p>Copyright &copy; 2017 Urvil Patel.</p>
        </div>
     </div>           
</footer>