<footer>
    <div class="content-padding-footer">
        <div class="footer-content">
            <div class="social-media-icons">
                <a href="https://github.com/urvil38" target="_blank"><i class="fa fa-github fa-3x"></i> </a>
                <a href="https://www.facebook.com/urvil.patel.104" target="_blank"><i class="fa fa-facebook-official fa-3x"></i> </a>
                <a href="http://www.twitter.com/UrvilPatel12" target="_blank"><i class="fa fa-twitter fa-3x"></i> </a>
            </div>
            <p>&copy;Copyright 2017, Urvil Patel.</p>
        </div>
     </div>           
</footer>