<nav class="navbar navbar-fixed-top">

	<div class="content-padding">

		<ul class="nav navbar-nav navbar-right">

			<li><a href="/" style="color:white;
                                   border : 2px solid white;
                                   background-color:black;">Home</a></li>

		</ul> <!-- navbar-nav -->

	</div>

</nav>